@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

.ticTacToe {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.52fr 1.48fr;
  grid-template-areas:
    "Tittle Tittle"
    "game_area game_info";

  & h1 {
    grid-area: Tittle;
  }
}

.game-area {
  grid-area: game_area;
}

.game-board {
  border: thin solid;
  height: 40rem;
  width: 40rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border-radius: 1rem;
  background-color: rgb(33, 39, 44);
}

.cell {
  border: thin solid rgb(255, 255, 255);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Varela Round", sans-serif;
  font-size: 1100%;
  line-height: 0;

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 1rem #dffcce;
  }
}

.cell:nth-child(1) {
  border-top-left-radius: 1rem;
}

.cell:nth-child(3) {
  border-top-right-radius: 1rem;
}

.cell:nth-child(7) {
  border-bottom-left-radius: 1rem;
}

.cell:nth-child(9) {
  border-bottom-right-radius: 1rem;
}

.X {
  color: rgb(255, 90, 31);
}

.O {
  color: rgb(44, 135, 255);
}

.game-info {
  grid-area: game_info;
}
